{# SEO Stuff #}
{% include 'seo.njk' %}

{# Favicon #}
<link rel="icon" type="image/png" href="{{ '/assets/images/icon.png' | url }}">
<meta name="theme-color" content="#1a1a1a">

{# 11ty <3 #}
<meta name="generator" content="{{ eleventy.generator }}">