
{% for project in projectlist %}
<div class="card">
    <div class="portada">
        <img src="{{project.fileSlug}}/{{ project.data.image }}" alt="">
    </div>
    <div class="title-total">   
        <!-- <div class="title">Ant Collector</div> -->
        <a href="{{project.url}}">
            <h2>{{ project.data.title }}</h2>
        </a>    
        {% if project.data.tags %}
            <span class="tag">
                {% for tag in project.data.tags %}
                <!-- href="/project/tag/{{tag}}" -->
                    <a
                    >
                        {{ tag }}
                    </a>
                    {% if tag !== project.data.tags.at(-1) %}
                        <a> - </a>
                    {% endif %}
                {% endfor %}
            </span>
        {% endif %}
        <br>
        <div class="desc">{{ project.data.description }}</div>
    </div>
</div>
<br>
{% endfor %}
