@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");

.card {   
  @include container-list;

  background: #fff;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  position: relative;
  box-shadow: 0px 6px 20px rgba(34, 35, 58, 0.5);
  grid-template-columns: 1fr 2fr;
}

.card h2 {
  margin: 0;
  padding: 0 1rem;
}
.card .title {
  padding: 1rem;
  text-align: right;
  color: green;
  font-weight: bold;
  font-size: 12px;
}
.card .desc {
  padding: 0.5rem 1rem;
  font-size: 16px;
}
.card .actions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 0.5rem 1rem;
}

.card .tag {
    padding: 0.5rem 1rem;
    font-family: Georgia, Times, serif;
    text-transform: uppercase;
    font-size: 0.675em;
    letter-spacing: 3px;
    font-weight: bold;
    
    & > a {
        color: var(--color-text-offset);
    }
}

.title-total {
  padding: 2.5em 1.5em 1.5em 1.5em;
}

path {
  fill: white;
}

.portada {
  & > img {
    max-width: 20rem;
    max-height: 10rem;
    background-position: bottom center;
    background-size: cover;
    margin-top: 25%;
    margin-left: 10%;
  }
}

button {
  border: none;
  background: none;
  font-size: 24px;
  color: #8bc34a;
  cursor: pointer;
  transition:.5s;
  &:hover{
    color: #4CAF50  ;
    transform: rotate(22deg)
  }
}