---
layout: base
tags: nav
title: About Me
eleventyNavigation:
  key: About
  order: 5
permalink: /about/
---
<div class="page page--about">
    <header class="page__header">
        <h1 class="page__title">Hi homies.</h1>
    </header>
    <div class="page__content page__content--fullwidth">

        <div class="about">
            <div class="about__header">
                <div class="about__photo">
                    <img
                        class="responsive-image js-responsive-image"
                        src="{{ '/assets/images/PU.png' | url }}"
                        srcset="{{ '/assets/images/PU.png' | url }} 800w, 
                        {{ '/assets/images/pu_large.png' | url }} 1600w"
                        sizes="(min-width: 940px) 40vw, 100vw"
                        alt="phUyen"
                    />
                </div>
                <div class="about__intro lead">
                    <p>It's a pleasure to meet you! My name is <a href = "https://nnphuyen.netlify.app/">Phuong Uyen</a>, also known as Pu, a data engineer and learning lover in Vietnam.</p>
                    <p>
                        I am still on the path of learning and discovering myself and the world around me. I'm passionate about delving into data and sharing my discoveries. Join me on this journey of learning and exploration.
                    </p>
                </div>
            </div>
            <div class="about__content markdown">
                <b><h2>Education</h2></b>
                <p>
                    I am studying bachelor's degree in e-commerce, information systems department, <a href = "https://www.uel.edu.vn/">University of Economics and Law</a> - <a href = "https://vnuhcm.edu.vn/">VNU HCM</a>.
                </p>
                <p>
                    In university, I lead the IT Department at AKINA Japanese Club and collaborate on research at the Business Intelligence Research Lab, blending technology and business seamlessly.
                </p>

                <b><h2>Work</h2></b>
                <p>
                    As a data engineer intern at <a href = "https://www.bosch-softwaretechnologies.com/">BGSW</a>, I test and implement new technology (Knime) in designing data pipeline.
                </p>
            
                <b><h2>Writing</h2></b>
                <p>
                    I like writing about what I've learnt, experience and hobbies (sometimes) on my blog. My articles have been featured on platforms like 
                    <a href="https://nnphuyen.netlify.app/blog/bangalore-bgsv-the-wonderful-friends-and-7-magical-days-in-india/">India Talent Exchange Trip</a>, 
                </p>
                <p>Please note that I just write my thought, not represent any organization.</p>
            </div>
        </div>

    </div>
</div>