---
layout: base
tags: nav
title: Projects
eleventyNavigation:
  key: Projects
  order: 4
permalink: /project/
---
<div class="page page--notes">
  <header class="page__header">
      <h1 class="page__title">{{ title }}</h1>
  </header>
  <div class="page__content">
    {%- set projectlist = collections.projects -%}
    {% include "projectlist.njk" %}
  </div>
</div>